/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

img {
  width: 35vw;
  max-width: 231px;
  position: relative;
  border-radius: 56px;
  padding: 3px;
  box-shadow: hsla(280, 70%, 100%, .9) 11px 11px 90px;
  transition: all 0.5s ease-in-out;
  filter: grayscale(40%);
  filter: alpha(opacity=50);
  opacity: 0.57;
}

img:hover {
  transform: scale(1.1);
  filter: grayscale(14%);
  filter: alpha(opacity=50);
  opacity: 0.77;
}

body {
  background: url("assets/intarzia-hatter.jpg") no-repeat center center fixed;
}

#cim {
  text-align: center;
  font-size: 1.5rem;
}

.motto, .tartalom {
  text-align: center;
  font-size: 2.8vw;
  color: #392017;
  background-color: hsla(40, 70%, 35%, 0.77);
  border-radius: 5px;
  box-shadow: hsla(130, 10%, 70%, .8) 10px 10px 70px;
  position: relative;
  font-style: italic;
  padding: 0.7rem 0.7rem;
  margin: 0.7rem 0.5rem;
  }
.motto {
  font-size: 3.5vw;
}
.tartalom-2 {
  text-align: center;
  font-size: 3.5vw;
  color: maroon;
  border-radius: 5px;
  background-color: hsla(49, 70%, 35%, 0.7);
  box-shadow: hsla(28, 10%, 70%, .8) 10px 10px 70px;
  position: relative;
  margin: 1.1rem 0.5rem;
  padding: 1.1rem;
}

a:link {
  font-size: 2.1rem;
  color: gold;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #fafaeb;
}

.links {
  position: absolute;
  margin: 0 1vw;
  bottom: 0.5vw;
  left: 37%;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 1.4vw;
}