/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

img {
  width: 35vw;
  max-width: 231px;
  position: relative;
  border-radius: 56px;
  padding: 2px;
  margin: 14px;
  box-shadow: hsla(280, 70%, 100%, .9) 9px 9px 40px;
  transition: all 0.5s ease-in-out;
  filter: grayscale(40%);
  filter: alpha(opacity=50);
  opacity: 0.57;
}

img:hover {
  transform: scale(1.2);
  filter: grayscale(14%);
  filter: alpha(opacity=50);
  opacity: 0.91;
}

body {
  background: url("assets/intarzia-hatter.jpg") no-repeat center center fixed;
}

.motto, .tartalom {
  text-align: center;
  font-size: 2.5vw;
  color: #392017;
  background-color: hsla(47, 70%, 35%, 0.9);
  border-radius: 5px;
  box-shadow: hsla(130, 10%, 70%, .8) 10px 10px 70px;
  position: relative;
  font-style: italic;
  padding: 0.1rem 0.7rem;
  margin: 0 0.5rem;
  }

.motto {
  font-size: 3.2vw;
}
.tartalom-2 {
  text-align: center;
  font-size: 2.8vw;
  color: maroon;
  background-color: hsla(49, 70%, 35%, 0.7);
  border-radius: 5px;
  box-shadow: hsla(28, 10%, 70%, .8) 10px 10px 70px;
  position: relative;
  margin: 0.9rem 0.5rem;
  padding: 0.4vw;
}


a:link {
  font-size: 2.1rem;
  color: gold;
  transition: all 0.4s ease-in-out;
}

a:hover {
  color: #fafaeb;
}

.links {
  position: relative;
  margin: 0 1vw;
  bottom: 0.5vw;
  left: 37%;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  padding: 1.4vw;
}